<a href="https://colab.research.google.com/github/edmanabc/Copy-of-Practice_with_online_materials.ipynb/blob/main/Copy_of_Practice_with_online_materials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Opening with Hello World

In [ ]:
print("Hello World")

Hello World

Set operations

In [ ]:
Datascientist = {"Python", "R", "ML", "SQL", "PowerBI", "Tableau"}
DataEngineer = {"VB", "SQL", "EXCEL", "Hadoop", "PowerBI"}

In [ ]:
#The union operator '|' combines two datasets to form a new dataset. The new dataset contains items from both datasets.
print(Datascientist | DataEngineer)

{'VB', 'Hadoop', 'R', 'Tableau', 'SQL', 'PowerBI', 'Python', 'EXCEL', 'ML'}

In [ ]:
#The same result can be accomplished using the union() method:
print(Datascientist.union(DataEngineer))

{'VB', 'Hadoop', 'R', 'Tableau', 'SQL', 'PowerBI', 'Python', 'EXCEL', 'ML'}

In [ ]:
#The intersection operator '&' only gets items that are common to both datasets. 
print(Datascientist & DataEngineer)

{'SQL', 'PowerBI'}

In [ ]:
#The same result can be accomplished using the intersection() method:
print(Datascientist.intersection(DataEngineer))

{'SQL', 'PowerBI'}

In [ ]:
#The difference operator '-' gets items that are in the first dataset but not in the second dataset.
print(Datascientist - DataEngineer)

{'Python', 'R', 'ML', 'Tableau'}

In [ ]:
#The same result can be accomplished using the difference() method:
print(Datascientist.difference(DataEngineer))

{'Python', 'R', 'ML', 'Tableau'}

In [ ]:
#The symmetric difference operator '^' gets items included in either dataset but not items that are included in both datasets (excluding the intersection).
print(Datascientist ^ DataEngineer)

{'VB', 'Hadoop', 'R', 'Python', 'EXCEL', 'Tableau', 'ML'}

In [ ]:
#The same result can be accomplished using the difference() method:
print(Datascientist.symmetric_difference(DataEngineer))

{'VB', 'Hadoop', 'R', 'Python', 'EXCEL', 'Tableau', 'ML'}

Getting help with Python

In [ ]:
#If needing help with a particular function, type the function name into a cell within Python followed by a question mark. 
round?